<!DOCTYPE html>
<html>
    <head>
        <title>Image to ASCII Art</title>
    </head>
    <body>
        <script>
            var grid= <%-data.grid%> ;
            var charGrid= <%-data.charGrid%> ;
        </script>
        <div id='asciiResult'></div>
        <script type="text/javascript" src="itaart.js"></script>
    </body>
</html>